{% extends "blog_index.html" %}

{% block inner_content %}
<ul class="unstyled">
{% for doc in docs %}
  <li>
    {{ doc.created_on.strftime('%Y-%m-%d') }}
    <a style="padding-left:5px" href="/blog/{{ doc.path }}"><b>{{ doc.title }}</b></a>
    <span style="overflow: hidden; white-space:nowrap; color: #BBB; padding-left: 10px">{{ doc.render_body()|striptags|truncate(45) }}</span>
  </li>
{% endfor %}
</ul>

{% if 0 %}<div class="pagination">
  <ul>
    <li class="prev disabled"><a href="#">&larr; Previous</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="next"><a href="#">Next &rarr;</a></li>
  </ul>
</div>{% endif %}
{% endblock %}
